<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listify</title>
</head>
<body>
    <h1>LISTIFY</h1>
    <p>HAVE ANYTHING TO DO? LIST IT HERE!</p>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>