<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listify</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <center>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <p>MAKE A LISTIFY ACCOUNT</p>
        <form class="loginForm" action="/signup" method="POST">
            <input type="text" name="userName" placeholder="USERNAME">
            <input type="email" name="email" placeholder="EMAIL">
            <input type="password" name="password" placeholder="PASSWORD">
            <input type="password" name="confirmPassword" placeholder="CONFIRM PASSWORD">
            <input class="loginBtn" type="submit">
        </form>
    </center>
</body>
</html>