* {
    margin: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    /* line-height: 1.42857143; */
    color: #333;
    background-color: #fff;
}

h1 {
    font-size: 100px;
    margin-top: 30px;
}

p {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.buttons {
    margin: 2vh auto;
    text-align: center;
    text-decoration: none;
    padding: 2vh 5vh;
    background-color: #B9C09A;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.loginForm {
    max-width: 500px;
    border: 2px solid #333;
    margin: 2rem auto;
    padding: 2rem;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding: 2vh 0vh;
    font-size: 15px;
}

.loginBtn {
    width: 50%;
    display: block;
    background-color: #B9C09A;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
}

.title {
    text-align: center;
}

.todosCap {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 20px;
}

.todoItem {
    font-size: 20px;
    margin-left: 20px;
}

.del {
    color: red;
    font-size: 15px;
    margin-left: 5px;
}

.todoForm {
    border: 2px solid #333;
    /* margin: 2rem auto; */
    margin: 2rem 4rem;
    padding: 2rem;
}

.todoBtn {
    width: 100%;
    display: block;
    background-color: #B9C09A;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
}

.logoutBtn {
    margin: 2vh auto;
    text-align: center;
    text-decoration: none;
    padding: 2vh 5vh;
    color: red;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    /* color: white; */
    font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-left: 20px;
}

.todosLeft {
    margin-top: 30px;
    color: #B9C09A;
    margin-left: 20px;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.not{
    text-decoration: underline;
}